@model IEnumerable<BookCircle.Models.Book>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        #booksTable_wrapper > div:nth-child(3){
            padding:16px;
        }

        #booksTable_wrapper > div:nth-child(1){
            padding:16px;
        }

        body > div:nth-child(2){
            background-color:floralwhite;
        }

        body {
            background-color: floralwhite;
        }

    </style>
</head>

<body>
    <p class="d-grid gap-2 col-2 p-2">
        @Html.ActionLink("Create New", "Create", "Books", new { @class = "btn btn-dark" })
    </p>
    <table id="booksTable" class="table p-4">
        <thead>
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.BookTitle)*@
                    Book Title
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.BookDescription)*@
                    Description
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.BookAuthor)*@
                    Author
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.BookPublisher)*@
                    Published by
                </th>
                <th>
                    @*@Html.DisplayNameFor(model => model.BookRating)*@
                    Rating
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookTitle)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookAuthor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookPublisher)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BookRating)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id },new {@class="btn btn-outline-primary"}) |
                        @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-outline-info" }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-outline-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
@section scripts{
    <script>
        $(document).ready(function () {
            $("#booksTable").DataTable();
        })
    </script>
}


