<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/jquery-3.6.0.min.js"></script>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    @Scripts.Render("~/bundles/modernizr")

    <style>
        @@font-face {
            font-family: "Medio";
            src: url('C:\Users\stoja\source\repos\BookCircle\BookCircle\fonts\Medio.woff');
        }

        .mediotext {
            font-family: "Medio";
        }

        .navbar-custom {
            background-color: #07f0ec;
        }

        .white-text {
            color: white !important;
        }

        .remove-bg:hover {
            background: none;
        }

        .navbar-padding-top {
            margin-top: 15px;
        }

        .my-container {
            padding-right: 10px;
            padding-left: 10px;
            margin-right: auto;
            margin-left: auto;
        }

        .navlinks-size {
            font-size: large !important;
        }

        .remove-bot-margin-nav {
            margin-bottom: 0px !important;
        }

        body {
            padding: 0px !important;
        }

        .body-content-padding {
            padding: 10px;
        }

        .padding-for-partials {
            padding-right: 20px !important;
        }
    </style>
</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark navbar-custom remove-bot-margin-nav">
        <div class="container-fluid">

            @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
            <div class="collapse navbar-collapse navbar-padding-top" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    @Html.ActionLink("BOOK CIRCLE", "Index", "Home", new { @class = "mediotext navbar-brand navlinks-size" })
                </div>

            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
