<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        @@font-face {
            font-family: "Medio";
            src: url('C:\Users\stoja\source\repos\BookCircle\BookCircle\fonts\Medio.woff');
        }

        .mediotext {
            font-family: "Medio";
        }

        .navbar-custom {
            background-color: #07f0ec;
        }

        .white-text{
            color:white;
        }

        .remove-bg:hover{
            background:none;
        }

        .my-container {
            padding-right: 10px;
            padding-left: 10px;
            margin-right: auto;
            margin-left: auto;
        }
    </style>


</head>
<body>
    <div class="navbar navbar-custom navbar-fixed-top">
        <div class="my-container" >
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("BOOK CIRCLE", "Index", "Home", new { area = "" }, new { @class = "navbar-brand mediotext white-text"})
            </div>

            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home", new { @class= "white-text" })</li>
                    <li>@Html.ActionLink("Books","Index","Books", new { @class = "white-text" })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", new { @class = " white-text" })</li>
                </ul>
               @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
