<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" />
    @*<link href="~/datatables-1.10.10/css/jquery.datatables.css" rel="stylesheet" />
        <script src="~/datatables-1.10.10/js/jquery.datatables.js"></script>
        <script src="/lib/jquery/dist/jquery.js"></script>*@
    @*<script src="~/Scripts/jquery-3.6.0.min.js"></script>*@
    @*<script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">


    <style>
        @@font-face {
            font-family: "Cocogoose";
            src: url('C:\Users\stoja\source\repos\BookCircle\BookCircle\fonts\CocogooseClassicTrial-Medium.ttf');
        }

        .oswald-font {
            font-family: "Oswald";
        }

        .raleway-font {
            font-family: "Raleway";
        }

        .navbar-custom {
            background-color: #DEB887;
        }

        .white-text {
            color: white !important;
        }

        .black-text {
            color: black !important;
            font-weight: bold;
            letter-spacing: 1px;
        }

            .black-text:hover {
                color: white !important;
                letter-spacing: 1px;
            }

        .remove-bg:hover {
            background: none;
        }

        .navbar-padding-top {
            margin-top: 15px;
        }

        .my-container {
            padding-right: 10px;
            padding-left: 10px;
            margin-right: auto;
            margin-left: auto;
        }

        .navlinks-size {
            font-size: large !important;
        }

        .remove-bot-margin-nav {
            margin-bottom: 0px !important;
        }

        body {
            padding: 0px !important;
        }

        .body-content-padding {
            padding: 10px;
        }

        .padding-for-partials {
            padding-right: 30px !important;
        }

        .black-text2 {
            color: black !important;
            font-weight: normal;
            letter-spacing: 1px;
        }

            .black-text2:hover {
                color: white !important;
                letter-spacing: 1px;
            }

        .navlinks-size2 {
            font-size: medium !important;
        }

        .blue-text {
            color: cornflowerblue;
            letter-spacing: 1px;
            text-transform:uppercase;
        }
    </style>


</head>
<body>
    <div class="navbar navbar-expand-md navbar-dark navbar-custom remove-bot-margin-nav">
        <div class="container-fluid">

            @*<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>*@
            <div class="collapse navbar-collapse navbar-padding-top" id="navbarNavAltMarkup">
                <div class="navbar-nav ">
                    @Html.ActionLink("BOOK CIRCLE", "Index", "Home", "Home", new { @class = " navbar-brand black-text oswald-font" })
                    @if (User.Identity.IsAuthenticated)
                    {
                        @Html.ActionLink("BOOKS", "Index", "Books","Books", new { @class = "nav-link navlinks-size2 black-text2 oswald-font" })
                        @Html.ActionLink("USERS", "Index", "Books","Books", new { @class = "nav-link navlinks-size2 black-text2 oswald-font" })
                    }
                </div>
            </div>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
    <div class="">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)
</body>
</html>
