@model BookCircle.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<head>
    <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block bg-for-logins">
                            @*<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />*@
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">
                                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="d-flex align-items-center mb-3 pb-1">
                                      <span class="h1 fw-bold mb-0 raleway-font">Register</span>
                                    </div>
                                    <h4 class="fw-normal mb-3 pb-3 raleway-font" style="letter-spacing: 1px;">Create a new account.</h4>
                                    <hr />
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ContactName, "Username", new { @class = "col-md-2 control-label raleway-font" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.ContactName, new { @class = "form-control form-control-lg" })
                                        </div>
                                    </div>
                                    @Html.ValidationSummary("", new { @class = "text-danger" })
                                    <div class="form-group mb-3">
                                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label raleway-font" })
                                        <div class="col-md-10">
                                            @Html.TextBoxFor(m => m.Email, new { placeholder = "example@email.com",@class = "form-control form-control-lg" })
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label raleway-font" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.Password, new { @class = "form-control form-control-lg" })
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-5 control-label raleway-font" })
                                        <div class="col-md-10">
                                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control form-control-lg" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" class="btn btn-outline-dark raleway-font" value="Register" />
                                        </div>
                                    </div>
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
